@charset "UTF-8";

*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0px;
    padding: 0px;
}

body, html{
    background-color: lightgreen;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: mediumseagreen;
    
}

header > h1{
    text-align: center;
    font-weight: bolder;
    font-size: 2.6em;
    padding-bottom: 15px;
    padding: 10px;
}

span#list {
    display: block;
    text-align: center;
    padding: 10px;
    
    cursor: pointer;
}

menu {
    
    display: none;

}

menu > a{
    display: block;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    border-top: 2.3px solid ghostwhite;
}

main{
    width: 90vw;
    background-color: wheat;
    margin: auto;
    padding: 10px;
    
    margin-top: 10px;
    border-radius: 15px;
    text-align: center;
}

article h2{
    padding: 9px;
    background-color: whitesmoke;
    text-align: center;
}

article p {
    padding: 5px;
    margin: 15px, 0px, 15px, 0px;
}

ul > li {
    list-style: circle;
    list-style-position: inside;
    
    
}

ol > li {
    list-style-position: inside;
    padding: 5px;
    margin: 5px;
    text-align: justify;

}
