@charset "UTF-8";

:root{
    --cor0: #8958FA;
    --cor1: #58D3FA;
    --cor2: #524EDE;
    --cor3: #4E95DE;
    --cor4: #6184F5 ;
    --cor5: #2daed5;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#pagina_contato{
    background: url(../imagens/tartaruga.jpg) no-repeat  ;
    background-size: cover;
    background-position: center ;
}

/*main{
    position: absolute;
    display: block;
    overflow: hidden;
    top: 50%;
    left: 50%;
    background-color: var(--cor1);
    width: 350px;
    height: 350px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transition-timing-function: ease;
    text-align: center;
    transition: width .3s, height .3s;
    transform: translate(-50%, -50%);
} */

/*main{
    background-color: var(--cor1);
    position: absolute;
    margin: auto;
    margin-bottom: 30px;

    top: 60%;
    left: 50%;
    
    min-width: 400px;
    max-width: 650px;
    padding: 2px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transition-timing-function: ease;
    text-align: center;
    transition: width .3s, height .3s;
    transform: translate(-50%, -50%);
} */

 article > p {
    padding: 5px;
    text-align: center;
    margin-bottom: 10px;
    background-color: var(--cor2);
    font-size: 20px;
    border-radius: 5px;
}

 a.linkcontato{
    
    padding: 10px;
    color: black;
    text-decoration: none;

}

a.linkcontato:hover{
    padding: 10px;
    text-decoration: underline;
   
}



