@charset "UTF-8";

/*cores: 
#6184F5 
#58D3FA 
#524EDE 
#8958FA
#4E95DE 
#2daed5*/

:root{
    --cor0: #8958FA;
    --cor1: #58D3FA;
    --cor2: #524EDE;
    --cor3: #4E95DE;
    --cor4: #6184F5 ;
    --cor5: #2daed5;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    background-color: #8958FA  ;
    height: 100vh;
    width: 100vw;
}

header{
    background-color: var(--cor2) ;
    padding-top: 20px;
    text-align: center;

}

header > h1{
    color: var(--cor1);
    font-size: 2.5em;
    text-decoration: none;
    margin-bottom: 20px;
    
}

main{
    position: relative;
    margin: auto;
    height: 80vh;
    width: 100vw;
}

section#pesq{
    position: absolute;
    display: block;
    overflow: hidden;
    top: 50%;
    left: 50%;
    background-color: var(--cor1);
    width: 400px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    transition-timing-function: ease;
    text-align: center;
    transition: width .3s, height .3s;
    transform: translate(-50%, -50%);
}

caption{
    background-color: gray;
    border: 1px solid black;
}

table{
    margin:  auto;
    padding: 20px;
    
    border-collapse: collapse;
    position: relative;
}

td , th {
    border: 1px solid black;
}

#inome, #inum{
    background-color: gray ;
}

.cnum{
    text-align: center;
    background-color: var(--cor5) ;
}

col.cnome{
    background-color: var(--cor4);
}

#tabela{
   margin: 0px;
   margin-top: 5px;
   background-color: var(--cor1);
   display: block;
}

h2{
    margin: 10px;
    padding: 4px;
    background-color: var(--cor0);
    border: 1px solid var(--cor0);
    border-radius: 10px;
}

p{
    
    padding: 5px;
    margin: 5px;
    background-color: var(--cor2);
    font-size: 15px;
    border-radius: 10px;
}

