@charset "UTF-8";

/*cores: 
#6184F5 
#58D3FA 
#524EDE 
#8958FA
#4E95DE*/

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html{
    
    font-weight: bolder;
    text-transform: none;
    background-color: #8958FA  ;
    height: 100vh;
    width: 100vw;
}

h1{
    text-align: center;
    text-decoration: none;
    color: #58D3FA ;
    background-color: #8958FA ;
    margin: 0px;
    padding: 0px;
}

main{
    position: relative;
    margin: auto;
    width: 80vw;
    height: 80vw;
    background-color: #58D3FA;
    text-align: center;
}

caption{
    background-color: gray;
    border: 1px solid black;
}

table{
    margin: 0 auto;
    padding: 20px;
    
    border-collapse: collapse;
    position: relative;
}

td , th {
    border: 1px solid black;
}

#inome, #inum{
    background-color: gray ;
}

.cnum{
    text-align: center;
}

col.cnome{
    background-color: #6184F5;
}

col.cnum{
    background-color:#2daed5 ;
}

div{
    background-color: #8958FA;
    display: inline-block;
    margin: 1.5em;
    padding: 0px;
    border-radius: 5px;
}

#tabela{
   margin: 0px;
   background-color: #58D3FA;
   display: block;
}

h2{
    margin: 0.5px;
    padding: 5px;
    
}

p{
    
    padding: 5px;
    margin: 10px;
    background-color: #524EDE;
    font-size: 1em;
    border-radius: 10px;
}