@charset "UTF-8";

/*cores: 
#6184F5 
#58D3FA 
#524EDE 
#8958FA
#4E95DE*/

html, body{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    text-transform: none;
    background:linear-gradient(#8958FA, #4E95DE )  ;
    height: 100vh;
    width: 100vw;
}

h1{
    text-align: center;
    text-decoration: none;
    color: #58D3FA ;
    background-color: #8958FA ;
    margin: 0px;
    padding: 0px;
}

caption{
    background-color: gray;
    border: 1px solid black;
}

table{
    margin: 10px;
    margin-left: 30px;
    padding: 10px;
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;
}

td , th {
    border: 1px solid black;
}

#inome, #inum{
    background-color: gray ;
}

.cnum{
    text-align: center;
}

col.cnome{
    background-color: #6184F5;
}

col.cnum{
    background-color:#58D3FA ;
}

div{
    background-color: #8958FA;
    display: inline-block;
    margin: 0.5em;
    padding: 0px;
    border-radius: 5px;
}

h2{
    margin: 0.5px;
    padding: 5px;
    color: #58D3FA;
}

p{
    margin: 0.5em;
    padding: 5px;
    background-color: #524EDE;
}